@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
}
.col-1  {width: 8.33%;	}
.col-2  {width: 16.66%;	}
.col-3  {width: 25%;	}
.col-4  {width: 33.33%;	}
.col-5  {width: 41.66%;	}
.col-6  {width: 50%;	}
.col-7  {width: 58.33%;	}
.col-8  {width: 66.66%;	}
.col-9  {width: 75%;	}
.col-10 {width: 83.33%;	}
.col-11 {width: 91.66%;	}
.col-12 {width: 100%;	} 

/* 120 70 navbar height*/
.header{
    height: 120px;
    position: fixed;
    z-index: 99;
    background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo #shape1, #shape2{
    color: #283d3b;
}

.menu,.logo, 
.main-list li{
    font-family: 'Roboto', sans-serif;
}

.main-list{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
}

.home-area{
    position: relative;
    z-index: 1;
    height: 720px;
    background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
}

.personal-text h6{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 14px;
    color: #222;
    margin-bottom: 12px;
}

.personal-text h3{
    font-size: 48px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.personal-text h4{
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.personal-text {
    padding-top: 60px;
}

.progress{
    background-color: #e8e8e8;
    border:1px solid #e9ecef;
    border-radius: 10px;
    padding: 5px;
}

.progress-bar{
    height: 10px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
}

#back,#next{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 20;
    position: absolute;
    top: 50%;
    transition: .5s all ease-out;
}

#back{
    left: 20px;
}

#next{
    right: 20px;
}

.footer-area h3{
    color:#fff;
    margin-bottom: 17px;
}

.footer-area p{
    color: #777;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 

    .header{
        padding: 0 20px;
        height: 60px;
    }
    
    .logo{
        color: #fff;
        cursor: default;
        font-size: 15px;
    }
    
    .main-list li a{
        color: #fff;
        font-size: 15px;
        padding: 0 7px;
    }
     
    .home-area{
        height: 1100px;
    }
    
    .container{
        width: 100%;
        height: 1100px;
        position: relative;
        bottom: -70px;
        background-color: #fff;
        box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
    }
    
    .banner-photo{
        padding: 80px 0 0 19%;
    }
    
    .banner-photo img{
      height: 400px;
      margin-top: 12px;
      border-radius: 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .personal-text {
        height: 600px;
        padding-left: 5%;
    }

    .personal-text p{
        font-family: "Roboto",sans-serif;
        color: #7777;
        margin-bottom: 40px;
        width: 300px;
    }
    
    .info{
        display: flex;
    }
    
    .my-info{
        border-right: 0;
    }
    
    .my-info li{
        font-size: 12px !important;
    }
    
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    
    .social-media li{
        padding: 0 12px;
    }
    
    .social-media li a{
        color: #766dff;
        transition: 0.5s all ease;
    }
    
    .social-media li a:hover{
        color: #483bff;
        font-size: 25px;
    }
    
    .list{
        height: 150px;
        width: 90%;
        margin-top: 40px;
    }
    
    .list li{
        display: flex;
        font-size: 16px;
        color: #766dff;
        height: 35px;
    }
    
    .list li p{
        padding: 0 12px;
    }
    
    .about-me{ 
        height: 850px;
        background-color: #fff;
    }
    
    .about-me .container{
        height: 1100px !important; 
    }
    
    .about-me-text{
        padding: 100px 15px;
    }
    
    .abt{
        width: 100% !important;
    }
    
    .welcome-text h4 {
        font-size: 36px;
        color: #222;
        margin-bottom: 18px;
    }
    
    .welcome-text p {
        margin-bottom: 40px;
        color: #777;
    }
    
    .skill-main {
        padding: 0 20px;
    }
    
    .skill-item h4 {
        padding: 7px 0;
    }
    
    .slider{
        background-color: #fff;
        height: 720px;
        padding-top: 80px;
        position: relative;
    }
    
    .slider h3{
        font-size: 48px;
        color: #7777;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
    }
    
    #back,#next{
        color :rgb(49, 49, 49);
    }
    
    #back{
        left: 20px;
    }
    
    #next{
        right: 20px;
    }
    
    #next:hover , #back:hover{
        color: #777777;
    }
    
    .boxes-rows {
        display: flex;
        padding-left: 2000px;
        box-shadow: 0px 3px 11px 0px rgb(50 50 50 / 10%);
        transition: 0.5s all ease-out;
    }
    
    .portfolio-box{
        background-color: #fff;
        height: 450px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        left: 0;
    }
    
    .portfolio-box .slide{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 20px solid #fff;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
    }
    
    .footer-area{
        height: 700px;
        background-color: #000;
    }
    
    .footer-box{
        width: 100%;
    }
    
    .btn-mail{
        height: 40px;
        background-color: transparent;
        padding: 0 15px;
        margin-top: 25px;
        border: 1px solid #1e233b;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        color: #ccc;
        outline: none;
        box-shadow: none;
    }
    
    .send-btn {
        height: 40px;
        color: #fff;
        font-size: 15px;
        padding: 0;
        cursor: pointer;
        border: 0;
        background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
    }
    
    .footer-area .boxes{
        height: 200px;
        width: 100%;
        padding: 50px;
    }
    
    .footer-social {
        display: flex;
    }
    
    .footer-social li {
        padding: 10px;
    }
    
    .footer-social li {
        padding: 12px;
        font-size: 25px;
    }
    }
    
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768) { 
        
    .header{
        padding: 0 20px;
        height: 60px;
    }
    
    .logo{
        color: #fff;
        cursor: default;
        font-size: 16px;
    }
    
    .main-list li a{
        color: #fff;
        font-size: 18px;
        padding: 0 15px;
    }
     
    .home-area{
        height: 1100px;
        padding: 40px;
    }
    
    .container{
        width: 540px;
        height: 1100px;
        border-radius: 12px;
        position: relative;
        bottom: -70px;
        background-color: #fff;
        box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
    }
    
    .banner-photo{
        padding-left: 30%;
    }
    
    .banner-photo img{
      height: 400px;
      margin-top: 12px;
      border-radius: 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .personal-text {
        height: 600px;
        width: 500px;
        padding-left: 5%;
    }

    .personal-text p{
        font-family: "Roboto",sans-serif;
        color: #7777;
        margin-bottom: 40px;
        width: 400px;
    }
    
    .info{
        display: flex;
        padding: 0 20px;
    }
    
    .my-info{
        border-right: 1px solid rgba(34, 34, 34, 0.192);
    }
    
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    
    .social-media li{
        padding: 0 12px;
    }
    
    .social-media li a{
        color: #766dff;
        transition: 0.5s all ease;
    }
    
    .social-media li a:hover{
        color: #483bff;
        font-size: 25px;
    }
    
    .list{
        height: 150px;
        width: 65%;
        margin-top: 80px;
    }
    
    .list li{
        display: flex;
        font-size: 16px;
        color: #766dff;
        height: 35px;
    }
    
    .list li p{
        padding: 0 12px;
    }
    
    .about-me{ 
        height: 850px;
        padding: 40px;
        background-color: #fff;
    }
    
    .about-me .container{
        height: 1100px !important; 
    }
    
    .about-me-text{
        padding: 100px 15px;
    }
    
    .abt{
        width: 100% !important;
    }
    
    .welcome-text h4 {
        font-size: 36px;
        color: #222;
        margin-bottom: 18px;
    }
    
    .welcome-text p {
        margin-bottom: 40px;
        color: #777;
    }
    
    .skill-main {
        padding: 0 20px;
    }
    
    .skill-item h4 {
        padding: 7px 0;
    }
    
    .slider{
        background-color: #fff;
        height: 720px;
        padding-top: 80px;
        position: relative;
    }
    
    .slider h3{
        font-size: 48px;
        color: #7777;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
    }
    
    #back,#next{
        color :rgb(49, 49, 49);
    }
    
    #back{
        left: 20px;
    }
    
    #next{
        right: 20px;
    }
    
    #next:hover , #back:hover{
        color: #777777;
    }
    
    .boxes-rows {
        display: flex;
        padding-left: 2000px;
        box-shadow: 0px 3px 11px 0px rgb(50 50 50 / 10%);
        transition: 0.5s all ease-out;
    }
    
    .portfolio-box{
        background-color: #fff;
        height: 450px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        left: 0;
    }
    
    .portfolio-box .slide{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 20px solid #fff;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
    }
    
    .footer-area{
        height: 700px;
        background-color: #000;
    }
    
    .footer-box{
        width: 100%;
    }
    
    .btn-mail{
        height: 40px;
        background-color: transparent;
        padding: 0 15px;
        margin-top: 25px;
        border: 1px solid #1e233b;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        color: #ccc;
        outline: none;
        box-shadow: none;
    }
    
    .send-btn {
        height: 40px;
        color: #fff;
        font-size: 15px;
        padding: 0;
        cursor: pointer;
        border: 0;
        background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
    }
    
    .footer-area .boxes{
        height: 200px;
        width: 100%;
        padding: 50px;
    }
    
    .footer-social {
        display: flex;
    }
    
    .footer-social li {
        padding: 10px;
    }
    
    .footer-social li {
        padding: 12px;
        font-size: 25px;
    }
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 992) { 
            
    .header{
        padding: 0 20px;
        height: 60px;
    }
    
    .logo{
        color: #fff;
        cursor: default;
        font-size: 17px;
    }
    
    .main-list li a{
        color: #fff;
        font-size: 18px;
        padding: 0 15px;
    }
     
    .home-area{
        height: 1100px;
        padding: 40px 22px;
    }
    
    .container{
        width: 720px;
        height: 1100px;
        border-radius: 12px;
        position: relative;
        bottom: -70px;
        background-color: #fff;
        box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
    }
    
    .banner-photo{
        padding-left: 30%;
    }
    
    .banner-photo img{
      height: 400px;
      margin-top: 12px;
      border-radius: 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .personal-text {
        height: 600px;
        width: 500px;
        padding-left: 5%;
    }

    .personal-text p{
        font-family: "Roboto",sans-serif;
        color: #7777;
        margin-bottom: 40px;
        width: 400px;
    }
    
    .info{
        display: flex;
        padding: 0 20px;
    }
    
    .my-info{
        border-right: 1px solid rgba(34, 34, 34, 0.192);
    }
    
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    
    .social-media li{
        padding: 0 12px;
    }
    
    .social-media li a{
        color: #766dff;
        transition: 0.5s all ease;
    }
    
    .social-media li a:hover{
        color: #483bff;
        font-size: 25px;
    }
    
    .list{
        height: 150px;
        width: 65%;
        margin-top: 80px;
    }
    
    .list li{
        display: flex;
        font-size: 16px;
        color: #766dff;
        height: 35px;
    }
    
    .list li p{
        padding: 0 12px;
    }
    
    .about-me{ 
        height: 850px;
        padding: 40px 0;
        background-color: #fff;
    }
    
    .about-me .container{
        height: 1100px !important; 
        width: 100%;
        padding: 0 80px;
    }
    
    .about-me-text{
        padding: 100px 15px;
    }
    
    .abt{
        width: 100% !important;
    }
    
    .welcome-text h4 {
        font-size: 36px;
        color: #222;
        margin-bottom: 18px;
    }
    
    .welcome-text p {
        margin-bottom: 40px;
        color: #777;
    }
    
    .skill-main {
        padding: 0 20px;
    }
    
    .skill-item h4 {
        padding: 7px 0;
    }
    
    .slider{
        background-color: #fff;
        height: 720px;
        padding-top: 80px;
        position: relative;
    }
    
    .slider h3{
        font-size: 48px;
        color: #7777;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
    }
    
    #back,#next{
        color :rgb(49, 49, 49);
    }
    
    #back{
        left: 20px;
    }
    
    #next{
        right: 20px;
    }
    
    #next:hover , #back:hover{
        color: #777777;
    }
    
    .boxes-rows {
        display: flex;
        padding-left: 3000px;
        box-shadow: 0px 3px 11px 0px rgb(50 50 50 / 10%);
        transition: 0.5s all ease-out;
    }
    
    .portfolio-box{
        background-color: #fff;
        height: 450px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        left: 0;
    }
    
    .portfolio-box .slide{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 20px solid #fff;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
    }
    
    .footer-area{
        height: 700px;
        background-color: #000;
    }
    
    .footer-box{
        width: 100%;
    }
    
    .btn-mail{
        height: 40px;
        background-color: transparent;
        padding: 0 15px;
        margin-top: 25px;
        border: 1px solid #1e233b;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        color: #ccc;
        outline: none;
        box-shadow: none;
    }
    
    .send-btn {
        height: 40px;
        color: #fff;
        font-size: 15px;
        padding: 0;
        cursor: pointer;
        border: 0;
        background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
    }
    
    .footer-area .boxes{
        height: 200px;
        width: 100%;
        padding: 50px;
    }
    
    .footer-social {
        display: flex;
    }
    
    .footer-social li {
        padding: 10px;
    }
    
    .footer-social li {
        padding: 12px;
        font-size: 25px;
    }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1200px) { 
               
    .header{
        padding: 0 20px;
        height: 60px;
    }
    
    .logo{
        color: #fff;
        cursor: default;
        font-size: 17px;
    }
    
    .main-list li a{
        color: #fff;
        font-size: 18px;
        padding: 0 15px;
    }
     
    .home-area{
        height: 1100px;
        padding: 40px 150px;
    }
    
    .container{
        width: 720px;
        height: 1100px;
        border-radius: 12px;
        position: relative;
        bottom: -70px;
        background-color: #fff;
        box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
    }
    
    .banner-photo{
        padding-left: 30%;
    }
    
    .banner-photo img{
      height: 400px;
      margin-top: 12px;
      border-radius: 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .personal-text {
        height: 600px;
        width: 500px;
        padding-left: 20%;
    }

    .personal-text p{
        font-family: "Roboto",sans-serif;
        color: #7777;
        margin-bottom: 40px;
        width: 400px;
    }
    
    .info{
        display: flex;
        padding: 0 20px;
    }
    
    .my-info{
        border-right: 1px solid rgba(34, 34, 34, 0.192);
    }
    
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    
    .social-media li{
        padding: 0 12px;
    }
    
    .social-media li a{
        color: #766dff;
        transition: 0.5s all ease;
    }
    
    .social-media li a:hover{
        color: #483bff;
        font-size: 25px;
    }
    
    .list{
        height: 150px;
        width: 65%;
        margin-top: 80px;
    }
    
    .list li{
        display: flex;
        font-size: 16px;
        color: #766dff;
        height: 35px;
    }
    
    .list li p{
        padding: 0 12px;
    }
    
    .about-me{ 
        height: 850px;
        padding: 40px 0;
        background-color: #fff;
    }
    
    .about-me .container{
        height: 1100px !important; 
        width: 100%;
        padding: 0 80px;
    }
    
    .about-me-text{
        padding: 100px 15px;
    }
    
    .abt{
        width: 100% !important;
    }
    
    .welcome-text h4 {
        font-size: 36px;
        color: #222;
        margin-bottom: 18px;
    }
    
    .welcome-text p {
        margin-bottom: 40px;
        color: #777;
    }
    
    .skill-main {
        padding: 0 20px;
    }
    
    .skill-item h4 {
        padding: 7px 0;
    }
    
    .slider{
        background-color: #fff;
        height: 720px;
        padding-top: 80px;
        position: relative;
    }
    
    .slider h3{
        font-size: 48px;
        color: #7777;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
    }
    
    #back,#next{
        color :rgb(49, 49, 49);
    }
    
    #back{
        left: 20px;
    }
    
    #next{
        right: 20px;
    }
    
    #next:hover , #back:hover{
        color: #777777;
    }
    
    .boxes-rows {
        display: flex;
        padding-left: 3000px;
        box-shadow: 0px 3px 11px 0px rgb(50 50 50 / 10%);
        transition: 0.5s all ease-out;
    }
    
    .portfolio-box{
        background-color: #fff;
        height: 450px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        left: 0;
    }
    
    .portfolio-box .slide{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 20px solid #fff;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
    }
    
    .footer-area{
        height: 700px;
        background-color: #000;
    }
    
    .footer-box{
        width: 100%;
    }
    
    .btn-mail{
        height: 40px;
        background-color: transparent;
        padding: 0 15px;
        margin-top: 25px;
        border: 1px solid #1e233b;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        color: #ccc;
        outline: none;
        box-shadow: none;
    }
    
    .send-btn {
        height: 40px;
        color: #fff;
        font-size: 15px;
        padding: 0;
        cursor: pointer;
        border: 0;
        background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
    }
    
    .footer-area .boxes{
        height: 200px;
        width: 100%;
        padding: 50px;
    }
    
    .footer-social {
        display: flex;
    }
    
    .footer-social li {
        padding: 10px;
    }
    
    .footer-social li {
        padding: 12px;
        font-size: 25px;
    }
    }


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and  (min-width: 1200px) { 
               
.header{
    padding: 0 20px;
    height: 60px;
}

.logo{
    color: #fff;
    cursor: default;
    font-size: 25px;
}

.main-list li a{
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
}
 
.home-area{
    height: 720px;
    padding: 0;
}

.container{
    height: 720px;
    margin: auto;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background-color: #fff;
    box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
}

.box {
    display: flex;
    align-items: center;
    justify-items: center;
}

.banner-photo{
    padding-left: 7%;
}

.banner-photo img{
  height: 483px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.personal-text {
    height: 600px;
}

.personal-text p{
    font-family: "Roboto",sans-serif;
    color: #7777;
    margin-bottom: 40px;
    width: 300px;
}

.info{
    display: flex;
    padding: 0 20px;
}

.my-info{
    border-right: 1px solid rgba(34, 34, 34, 0.192);
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.social-media li{
    padding: 0 12px;
}

.social-media li a{
    color: #766dff;
    transition: 0.5s all ease;
}

.social-media li a:hover{
    color: #483bff;
    font-size: 25px;
}

.list{
    height: 150px;
    width: 55%;
    margin-top: 80px;
}

.list li{
    display: flex;
    font-size: 19px;
    color: #766dff;
    height: 35px;
}

.list li p{
    padding: 0 12px;
}

.about-me{ 
    height: 820px;
    padding: 40px 0;
    background-color: #fff;
}

.about-me .container{
    box-shadow: none;
}

.about-me-text{
    padding: 100px 15px;
    display: flex;
    justify-content: center;
}

.abt{
    width: 100% !important;
}

.welcome-text h4 {
    font-size: 36px;
    color: #222;
    margin-bottom: 18px;
}

.welcome-text p {
    margin-bottom: 40px;
    color: #777;
}

.skill-main {
    padding: 0 20px;
}

.skill-item h4 {
    padding: 7px 0;
}

.slider{
    background-color: #fff;
    height: 720px;
    padding-top: 80px;
    position: relative;
}

.slider h3{
    font-size: 48px;
    color: #7777;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

#back,#next{
    color :rgba(109, 109, 109, 0.637);
}

#back{
    left: 60px;
}

#next{
    right: 60px;
}

#next:hover , #back:hover{
    color: #777777;
}

.boxes-rows {
    display: flex;
    padding-left: 2000px;
    box-shadow: 0px 3px 11px 0px rgb(50 50 50 / 10%);
    transition: 0.5s all ease-out;
}

.portfolio-box{
    background-color: #fff;
    height: 450px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 0;
}

.portfolio-box .slide{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 20px solid #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
}

.footer-area{
    height: 400px;
    background-color: #000;
}

.footer-box{
    width: 100%;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-mail{
    height: 40px;
    background-color: transparent;
    padding: 0 15px;
    margin-top: 25px;
    border: 1px solid #1e233b;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    color: #ccc;
    outline: none;
    box-shadow: none;
}

.send-btn {
    height: 40px;
    color: #fff;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-image: -webkit-linear-gradient(0deg,#766dff 0%,#88f3ff 100%);
}

.footer-area .boxes{
    height: 200px;
    width: 100%;
    padding: 50px;
}

.footer-social {
    display: flex;
}

.footer-social li {
    padding: 10px;
}

.footer-social li {
    padding: 12px;
    font-size: 25px;
}
}
